* {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #f2af4e;
}

body,
html,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container {
  flex: 1;
  width: 100%;
  background-image: url('../images/window_bg.png');
  border: 13px solid transparent;
  border-image: url('../images/window_border.png') 13 repeat;
  box-sizing: border-box;
}
